Repository decentralized-identity/decentralized-web-node, pull requests merged in 2023-05, with the labels that each got.

#171 fix codefenced language from `json5` to `json`
  spec/spec.md
Labels: artifact: spec, stage: needs review, attr: nit

#225 Local, Remote, and Relay Nodes.
  docs/companion_guide.md
Labels: artifact:companion-guide, stage: needs review

#229 added dwn and peergos to the comparison guide
  docs/companion_guide.md
Labels: artifact:companion-guide, type: discussion, stage: needs review
