Repository decentralized-identity/decentralized-web-node, pull requests merged in 2023-07, with the labels that each got.

#228 update the Service Endpoint section of the spec
  spec/spec.md
Labels: artifact: spec

#249 agenda notes 07-21-2023
  docs/agenda.md
Labels: stage: needs review

#252 Update Protocols Spec Definitions
  spec/spec.md
Labels: artifact: spec, stage: needs review
